@page "/categories/create"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService
@attribute [Authorize(Roles = "Admin")];

<h3>Crear Categoría</h3>

<CategoryForm @ref="categoryForm" Category="category" OnValidSubmit="Create" ReturnAction="Return"/>

@code {
    private Category category = new();
    private CategoryForm? categoryForm;

    private async Task Create()
    {
        var responseHttp = await repository.Post("/api/categories", category);
        if (responseHttp.Error)
        {
            var messageError = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", messageError, SweetAlertIcon.Error);
            return;
        }
        else
        {
            categoryForm!.FormPostedSuccessfully = true;
            navigationManager.NavigateTo("categories");
        }

    }

    private void Return()
    {
        categoryForm!.FormPostedSuccessfully = true;
        navigationManager.NavigateTo("/categories");
    }


}
